* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFBE0B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Where I found color palette: https://coolors.co/ffbe0b-fb5607-ff006e-8338ec-3a86ff */

.LeftPanel {
overflow: auto;
  width:40%;
  float: left;
  background-color: #3a86ff;
  font-family: 'Noto Sans KR', sans-serif;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

ul li {
  list-style: none;
}

.block-quote {
  border-left: 5px gray solid;
  padding-left: 5px;
}

.page-container {
  display: flex;
  height: auto;

}

.events {
  font-weight: bold;
}

.main {
  display: flex ;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  width:70%;
  height: auto;
  overflow: auto;
}

.footer {
  bottom: 0;
  
}

.footer-container {

  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #8338ec;
  position:fixed;
  bottom:0;
}

.title {
  text-align: center;
  width: 90%;
  font-family: 'Oswald', sans-serif;
  color:white;
  font-size: 2.5vw;
  
}

.explText {
  text-align: center;
  font-size: 1.5vw;
  width: 90%;
}

.footer-size {
  width: 100%;
}

.nav-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  background-color: #8338ec;
  position: sticky;
}

.hero-links {
  display: flex ; 
  flex-direction: column;
  margin:1vw;
}

.nav-links {
  display: flex;
  align-items: space-between;
 
}

.nav-title {

  color: white;
  text-align: center;
  font-size: 10vw;
  text-decoration: none;
  margin-bottom: auto;
}

.nav-subtitle {

  color: white;
  text-align: center;
  font-size: 2vw;
  text-decoration: none;
}

.nav-button {
  background-color: #ff006e;
  border-radius: 8px;
}

.history {
  text-align: center;
}


.photos {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  flex-grow: 1;
}

/* need to update to make hero show up correctly*/
.hero {
    width: 100%;
    max-width: 500px;
    max-height: 300px;
    flex-grow: 1;
}


.nav-text {
  color: white;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5vw;
 
}

.footer-text {
  color: white;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vw;
}

/*div.pic-day {
  border: 2px solid red;
  width: 10vw;
  height: 10vh;
}*/

/* Music Panel*/
.LeftPanel {
  width: auto;
}

.table-header{
  font-weight: bold;
  color: white ;
  text-align: center;
}

.table {
  border: 2px solid white;
  border-collapse: collapse;

  line-height: 2em;
  align-items: center;
  justify-items: center;
}



table, tr, th, td{
  border: 2px solid white;
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-width: 680px) and (orientation: landscape)  {

  .page-container {
    flex-direction: column;
  }

  .nav-button {
    background-color: #ff006e;
    border-radius: 8px;
  }
  .nav-subtitle {
    font-size: 3vw;
  }

  .main {
    width:auto;
    height: 100%
    
  }
  .footer-text {
    font-size: 4vw;
  }

  .body-text{
    font-size: 2vw;
  }
  .explText {
    text-align: center;
    font-size: 2vw;
    width: 90%;
  }

  .nav-text {
    color: white;
    font-size: 3vw;
  }

  
.title {
  font-size: 8vw;
}


}

/* #### Mobile Phones Landscape #### */
@media screen and (max-width: 680px) and (orientation: portrait)  {
  .page-container {
    flex-direction: column;
  }

  .nav-subtitle {
    font-size: 4vw;
  }

  .main {
    width:auto;
    height: 100%;
    padding-bottom: 7vw;
    
  }
  .footer-text {
    font-size: 5vw;
  }

  .body-text{
    font-size: 3vw;
  }

  .explText {
    text-align: center;
    font-size: 4vw;
    width: 90%;
  }
  .nav-text {
    color: white;
    font-size: 4vw;
  }

  
.title {
  font-size: 8vw;
}

  .header-container{
 padding-top: 40px;
    
  }

}
@media screen and (min-width: 680px) and (max-width: 1060px) and (orientation: portrait){
  .LeftPanel {
   width:40%;
   height: auto;
   margin-bottom: -65px;

  }

  
  .nav-subtitle {
    font-size: 3vw;
  }

  .main {
    width:60%;
    height: 100%
  }

  .footer-text {
    font-size: 4vw;
  }

}

@media screen and (min-width: 680px) and (max-width: 1060px) and (orientation: landscape){
  .LeftPanel {
   width:40%;
   height: auto;
  }

  .nav-subtitle {
    font-size: 3vw;
  }

  .main {
    width:60%;
    height: 100%
  }


  .footer-text {
    font-size: 4vw;
  }



}